<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<style>
div .navbar {
    background-color: #9C9C9C;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 405px;
    height: 10px;
    }

a .app{
    background-color: #E50F0F;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 10px;
    height: 10px;
}


</style>

<html>
    <head>
        <title>Barbershop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div class="center">
                        <div class="navbar">
                        <!-- <div class ="app"> -->
                        <a class="app"href="addMovie">Home</a>    
                        <a class="app" href="home"><i>|</i> Book Appoitment</a>
                        <a href="app">  <i>|</i>About Us</a>
                        <!-- </div> -->
       </div>
        </div>
    </body>
</html>
